body {
  background-color: #000;
  margin: 0px;
}
@font-face {
    font-family: 'inconsolatamedium';
    src: url('./fonts/inconsolata-webfont.woff2') format('woff2'),
         url('.fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rio_granderegular';
    src: url('./fonts/rio-grande.regular-webfont.woff2') format('woff2'),
         url('./fonts/rio-grande.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'axisextra_bold';
    src: url('./fonts/axis_extrabold-webfont.woff2') format('woff2'),
         url('./fonts/axis_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#background {
  display: flex;
  background-image: url('./images/1020_non_int.png');
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  background-size: cover !important;
}

#title {
  text-align: center;
  position: relative;
  z-index: 1;
}

#title h1 {
  font-family: 'rio_granderegular';
  font-size: 5.8em;
  font-weight: bold;
  text-shadow: 3px 3px 5px #FFF;
  letter-spacing: 7px;
  margin: 20px;
}

h2 {
  font-family: 'axisextra_bold';
}

a {
  text-decoration: none;
  color: #FF0;
}
a:hover {
  color: #F00;
}

#up {
  margin-top: 0px;
  padding-top: 3vh;
}
#down {
  padding-bottom: 1vh;
}

#pic {
  display: flex;
  margin: 0 auto;
  width: 789px;
}
#pic img {
  z-index: 2;
  border: 2px solid rgba(0,0,0,0.6);
}

#content {
  position: relative;
  width: 789px;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
}
#content h2 {
  margin: 0;
  padding: 1.5vh .5vh .1vh .5vh;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-size: 1.15em;
}
#content p{
  margin: 0;
  padding: .5vh;
  z-index: 2;
  color: #FFF;
  text-align: justify;
  font-family: 'inconsolatamedium';
  font-size: 1.38em;
}

#links {
  position: relative;
  width: 789px;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  margin: .5vh auto;
}
#links h2 {
  margin: 0 auto;
  padding: .5vh;
  z-index: 2;
  color: #FFF;
  text-align: center;
  font-size: 1.15em;
}
#links h2 span {
  font-size: .85em;
}
#links-fa {
  z-index: 2;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 1.5vh .5vh 1vh .5vh;
}
#links-fa a i{
  flex: 1 0 auto;
  color: #FFF;
}
#youtu:hover {
  color: #F00;
}
#wiki:hover {
  color: #939598;
}
/* .tttip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  /*opacity: 0;
  transition: opacity 1s;
}

.tttip:hover .tttext {
    visibility: visible;
    opacity: 1;
}*/
#footer {
  color: #FFF;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  height: 3vh;
  width: 769px;
  z-index: 1;
  background: rgba(0,0,0,1);
  margin: 6vh auto 0 auto;
  padding: 16px 11px 0 11px;
}
#footer span {
  font-family: 'rio_granderegular';
  position: absolute;
  right: 11px;
  top:14px;
  letter-spacing: 1px;
  font-weight: normal;
}
